@page "/"
@using FactoryPattern.Samples
@inject IAbstractFactory<ISample1> factory
@inject IAbstractFactory<ISample2> factory2

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h2>@currentTime?.CurrentDateTime</h2>
<h2>@randomValue?.RandomValue</h2>

<button class="btn btn-primary" @onclick="GetNewTime"> Get New Time</button>

@code {
    ISample1? currentTime;
    ISample2? randomValue;

    private void GetNewTime()
    {
        currentTime = factory.Create();
        randomValue = factory2.Create();
    }
}

